<p id="notice"><%= notice %></p>

<p>
  <strong>Document ref:</strong>
  <%= @record.document_ref %>
</p>

<p>
  <%# <strong>Manual:</strong>
  <%= @record.manual_id.name %> %>
</p>

<p>
  <strong>Text:</strong>
  <%= @record.text %>
</p>

<p>
  <strong>Error:</strong>
  <%= @record.error %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @record.comment %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @record.revision %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @record.approved %>
</p>

<p>
  <strong>Incorporated:</strong>
  <%= @record.incorporated %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
